extends layout/main.pug


include ../blocks/s-content/_s-content.pug
include ../blocks/s-contact/_s-contact.pug
include ../blocks/s-catalog-slider/_s-catalog-slider.pug
include ../blocks/s-catalog-slider/_s-catalog-slider.pug
include ../blocks/s-product/_s-product.pug
include ../blocks/s-done-slider/_s-done-slider.pug
include ../blocks/s-leader/_s-leader.pug
block variables
	- let  mainPage= null
block title
	title title

block pagecontent
 
	+top-line()
	+header-block()
	+s-product()
	+s-leader()
	+s-contact()
	+footer()

