mixin s-catalog-slider()
	// start s-catalog-slider
	+b.SECTION.s-catalog-slider.section.lazy-background#s-catalog-slider&attributes(attributes)
		.container
			.row
				+e.catalog.col-12.col-lg-4.bg-light
					+e.H3.title лучшие коллекции товаров
					.row
						mixin sl-c(i, t)
							+e.col.col-6
								a(href="#")
									+e.IMG.catalog-img(src=`img/slider-c${i}.jpg` alt="")
									+e.text=t
						+sl-c("1","Портофино")
						+sl-c("2","Интегра")
						+sl-c("3","Фиджи")
						+sl-c("4","Лугано")
						+sl-c("5","Кальяри")
						+sl-c("6","Палермо")
				+e.slider-col.col-12.col-lg-8
					.swiper-btn.swiper-btn-prev
						+icon("back")
					.swiper-btn.swiper-btn-next
						+icon("next")
					.slider--js.swiper-container
						.swiper-wrapper
							.swiper-slide
								+e.IMG.slide-img(src="img/slider-img.jpg" alt="#")
							.swiper-slide
								+e.IMG.slide-img(src="img/slider-img.jpg" alt="#")

	// end s-catalog-slider