mixin s-contact()
	// start s-contact
	+b.s-contact.section.block-with-lazy#s-contact&attributes(attributes)
		+e.header.bg-light
			.container
				.row
					.col-lg-auto.col-12
						+e.header-title Подпишись на обновления
						+e.header-subtitle Узнавай о новинках и скидках первым !
					+e.mail-col.col-lg.col-12
						+form-wrap
							.row
								.s-contact__header-form-col.col-md
									+input("Ваша эл. почта")
								.s-contact__header-form-col.col-auto
									.s-contact__btn.btn.btn-warning(type="submit") Подпишите меня
		+e.body
			.container
				.row
					+e.body-col.col-md.col-12.col-sm-6
						+e.body-col-title Makberry для Вас
						+e.UL.body-list
							+e.LI.body-list-item
								a(href="#") С нами работают
							+e.LI.body-list-item
								a(href="#") Сотрудничество
							+e.LI.body-list-item
								a(href="#") Календарь событий
							+e.LI.body-list-item
								a(href="#") Шоурум
							+e.LI.body-list-item
								a(href="#") Дизайнеры
							+e.LI.body-list-item
								a(href="#") Статьи
					+e.body-col.col-md.col-12.col-sm-6
						+e.body-col-title Makberry для Вас
						+e.UL.body-list
							+e.LI.body-list-item
								a(href="#") Консультация наших специалистов
							+e.LI.body-list-item
								a(href="#") Техническая поддержка по механизмам
							+e.LI.body-list-item
								a(href="#") Техническая поддержка по фасадам
							+e.LI.body-list-item
								a(href="#") Обучение персонала
							+e.LI.body-list-item
								a(href="#") Оформление выставочных стендов
							+e.LI.body-list-item
								a(href="#") Маркетинговые материалы
							+e.LI.body-list-item
								a(href="#") Гарантии производителя
					+e.body-col.col-md-auto.col-12
						+e.body-col-title Обратная связь
						+e.UL.body-list
							+e.LI.body-list-item
								a(href="#") Зарегистрировать обращение
						+e.body-col-title Mы в соцсетях
						+soc()
						+e.body-add-wrap
							a(href="#")
								img(src="img/visa.jpg" alt="")
							a(href="#")
								img(src="img/master.jpg" alt="")
							a(href="#")
								img(src="img/mir.jpg" alt="")
							a(href="#")
								img(src="img/yandex.jpg" alt="")

		+e.footer.bg-light
			.container
				.row
					.col-auto
						+e.IMG.qr(src="img/QR.jpg" alt="")
					+e.footer-col-links.col
						a(href="#") Контакты
						a(href="#") Весь каталог одним списком
					+e.footer-col-copy.col-auto
						+e.copy Makberry.ru (c) 2004 -2019
						a(href="tel:+78002344330") +7 (800) 234 43 30
						a(href="tel:+74959746146") +7 (495) 974 61 46
						a(href="mailto:zakaz@makberry.ru") zakaz@makberry.ru
	// end s-contact